<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Flot graph demo</title>
    [JScript includes flot]
    [JScript wrap {
      var options = {
        lines: { show: true },
        points: { show: true },
        xaxis: { mode: "time" },
        legend: { position: "nw", margin: 3 },
        shadowSize: 0,
        grid: { borderWidth: 1, borderColor: "#bbbbbb" },
        series: {
          lines: { lineWidth: 1 },
          points: { radius: 0.5 },
        }
      };
      $.getJSON('data.json', function(data) {
        $.plot($("#placeholder"), data, options);
      });
    }]
    <style type='text/css'>
      #placeholder { width: 600px; height: 300px; }
    </style>
  </head>
  <body>
    <div id="placeholder"></div>
  </body>
</html>
