<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>DataTables demo</title>
    [JScript includes ui knockout eventsource datatables kodtb]
    [JScript coffee {
      viewModel =
        tableData: ko.observable []
        update: (data) ->
          t = viewModel.tableData();
          for key, row of data
            t = (e for e in t when e[0] != key)
            row.unshift key
            t.push row
          viewModel.tableData t
      ko.applyBindings viewModel
      $.eventsource url: 'events/table', message: viewModel.update
      $.getJSON 'data.json', viewModel.update
    }]
    [JScript wrap {
      var viewModel;
      viewModel = {
        tableData: ko.observable([]),
        update: function(data) {
          var e, key, row, t;
          t = viewModel.tableData();
          for (key in data) {
            row = data[key];
            t = (function() {
              var _i, _len, _results;
              _results = [];
              for (_i = 0, _len = t.length; _i < _len; _i++) {
                e = t[_i];
                if (e[0] !== key) {
                  _results.push(e);
                }
              }
              return _results;
            })();
            row.unshift(key);
            t.push(row);
          }
          return viewModel.tableData(t);
        }
      };
      ko.applyBindings(viewModel);
      $.eventsource({
        url: 'events/table',
        message: viewModel.update
      });
      $.getJSON('data.json', viewModel.update);
    }]
    <style type='text/css'>
      body { font-family: Verdana; }
      .main { width: 600px; }
      table { border: 1px solid #ddd; border-collapse: collapse; width: 100%; }
      td { padding: 0 3px; }
      tbody tr:nth-child(even) { background-color: #f8f8f8; }
      /* clean up and re-arrange things a bit */
      .center { text-align: center; }
      .dataTables_length {
        width: 40%; float: left; margin: 2px 0 0 6px;
      }
      .dataTables_filter {
        width: 50%; float: right; text-align: right; margin-right: 6px;
      }
      .dataTables_info {
        width: 80%; float: left; margin: 2px 0 0 6px;
      }
      .dataTables_paginate {
        width: 44px; float: right; text-align: right; margin: 2px 6px 0 0;
      }
      .dataTables_length, .dataTables_filter, .dataTables_info {
        font-weight: normal;
      }
    </style>
  </head>
  <body>
    <div class='main'>
      <table data-bind='dataTable: {
          data: tableData,
          options: { bJQueryUI: true,
                     aoColumnDefs: \[
                        { sType: "numeric", aTargets: \[1] },
                        { sClass: "center", aTargets: \[1,2,3,4] },
                     ]}}'>
        <thead><tr>
          <th>Description</th>
          <th width='18%'>Value</th>
          <th width='12%'>Unit</th>
          <th width='16%'>Changed</th>
          <th width='16%'>Updated</th>
        </tr></thead>
        <tbody></tbody>
      </table>
    </div>
  </body>
</html>
