<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>DataTables demo</title>
    [JScript includes ui knockout eventsource datatables kodtb]
    [JScript wrap {
      var viewModel = {
        tableData: ko.observable([]),
        update: function(data) {
          var t = viewModel.tableData();
          for (var p in data) {
            var row = data[p];
            for (var n in t) {
              if (t[n][0] == row[0]) {
                t.splice(n, 1);
              }
            }
            t.push(row);
          }
          viewModel.tableData(t);
        },
      };
      ko.applyBindings(viewModel);
      $.eventsource({ url: 'events/table', message: viewModel.update });
    }]
    <style type='text/css'>
      body { font-family: Verdana; font-size: 100%; }
      .main { width: 600px; }
      table { border: 1px solid #ccc; border-collapse: collapse; width: 100%; }
      td { padding: 0 3px; }
      tbody tr:nth-child(even) { background-color: #eee; }
    </style>
  </head>
  <body>
    <div class='main'>
      <table data-bind='dataTable: { data: tableData,
                                     options: { bJQueryUI: true } }'>
        <thead><tr>
          <th>Description</th>
          <th width='12%'>Value</th>
          <th width='12%'>Unit</th>
          <th width='16%'>Changed</th>
          <th width='16%'>Updated</th>
        </tr></thead>
        <tbody></tbody>
      </table>
    </div>
  </body>
</html>
